*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    text-align: center;
}

.clearfix::after{
    content: "";
    display:table;
    clear:both;
}

/* img{
    max-width: 100%;
    float: left;
} */

.container{
    max-width: 800px;
    margin: 0 auto;
}

.cards{
    float: left;
    font-size: 15px;
    background-color: #0F0E17;
    color: white;
    width: calc((100% - 40px) / 3);
	margin-right: 20px;
    margin-bottom: 50px;
}

.cards:nth-child(3n){
    margin-right: 0;
}
